/*헤드 타이틀 폰트*/
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*본문 폰트*/
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*-----------------전체 사이즈 및 색상 시작-----------------*/

/*전체 적용*/
* {
  font-family: 'SUIT-Regular';
  margin: 0 auto;
}

/*본문 외 배경 영역*/
body {
  background-color: #F9F9F9;
}

/*본문 감싸는 영역(헤더~푸터)*/
.container {
  width: 1280px;
}

/*본문 영역 크기 및 배경*/
.allcontent {
  width: 960px;
  background-color: white;
}

/*-----------------전체 사이즈 및 색상 끝-----------------*/

/*-----------------헤더 시작-----------------*/

/*헤더 전체 위치 및 크기*/
header {
  position: relative;
  width: 960px;
}

.head {
  width: 960px;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #7DB249;
}

/*로고 이미지*/
.logo {
  width: 54px;
  height: 55px;
  float: left;
  position: relative;
  top: 3px;
  left: 5px;
}

.logo:hover {
  cursor: pointer;
}

/*로고 타이틀*/
.logotitle {
  float: left;
  color: white;
  font-size: 30px;
  font-family: 'Cafe24Ssurround';
  position: relative;
  top: 14px;
  left: 3px;
}

.logotitle:hover {
  cursor: pointer;
}

/*로그인 아이콘 이미지*/
.userlogo {
  width: 63px;
  height: 63px;
  float: right;
  position: relative;
  bottom: 2px;
  right: 5px;
}

.userlogo:hover {
  cursor: pointer;
}

/*마우스 오버 시 드롭다운 메뉴*/

.login ul {
  list-style: none;
  width: 150px;
  float: right;
}

.login a {
  text-decoration: none;
}

.login>li {
  list-style: none;
}

.login>li>a {
  display: block;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: #fff;
}

.login>li:hover .menu {
  display: block;
}

.login .menu {
  display: none;
  position: absolute;
  left: 770px;
  top: 50px;
  text-align: center;
}

.login .menu a {
  display: block;
  padding: 5px;
  background-color:rgba(125, 178, 73, 0.7);/*까만색(0,0,0) 80% 불투명도*/
  color: #fff;
}


/*-----------------헤더 끝-----------------*/

/*-----------------리스트 헤드라인 시작-----------------*/

.headline {
  height: 30px;
  position: relative;
  top: 60px;
  background-color: #F5F5F5;
  border-bottom: 2px solid #ddd;
}

.headline p {
  font-size: 15px;
  line-height: 30px;
  margin-left: 20px;
}


/*-----------------리스트 헤드라인 끝-----------------*/

/*-----------------리스트 페이지 시작-----------------*/

.list a {
  text-decoration: none;
  color: black;
}

.list {
  height: 2130px;
  margin-top: 63px;
  border: 1px solid transparent;
}

.camplist {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 50px;
  width: 750px;
  height: 465px;
}

#list_image {
  position: relative;
  width: 750px;
  height: 350px;
  background-image: url('../image/a1.jpg'); /* 시작 이미지  */
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}

#list_image img {
  width: 26px;
  height: 27px;
  margin-top: 310px;
  margin-left: 10px;
}

.location {
  color: white;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  bottom: 7px;
}

.category {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 13px;
  color: #767676;
}

.campname {
  font-size: 23px;
  font-weight: bold;
  padding-left: 20px;  
}

.intro {
  font-size: 13px;
  color: #767676;
  padding-left: 20px;
}

.info_hashtag {
  display: flex;
  width: 300px;
  position: relative;
  top: 10px;
  right: 215px;
}

.hashtag {
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  padding: 3px;
  font-size: 12px;
}

.able {
  float: right;
  position: relative;
  bottom: 85px;
  right: 10px;
  font-size: 13px;
}

.price {
  color: #F27226;
  font-weight: bold;
  font-size: 18px;
  float: right;
  position: relative;
  bottom: 65px;
  left: 150px;
}

.leftbtn {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: 170px;
  margin-left: 10px;
}

.rightbtn {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: 170px;
  margin-left: 715px;
}

/*-----------------리스트 페이지 끝-----------------*/

/*-----------------페이징 시작-----------------*/

.paging { 
  height: 70px;
  display: flex;
  width: 55%;
}

.page {
  width: 13px;
  height: 13px;
}

.paging ul {
  padding-left: 0;  
  text-align: center;
}

.paging ul li {
  width: 20px;
  height: 20px;
  padding: 10px;
  list-style: none;
  font-size: 14px;
  display: inline-flex;
}

.paging a {
  color: black;
  text-decoration: none;
  width: 100%;
  height: 19px;
}

.paging a:hover {
  color: white;
  background-color: #7DB249;
}

.paging a:active {
  background-color: #7DB249;
}


/*-----------------페이징 끝-----------------*/


/*-----------------푸터 시작-----------------*/

/*푸터 전체 영역*/
footer {
  width: 960px;
  background-color: #F5F5F5;
  font-size: 12px;
  height: 80px;
  padding-top: 30px;
  padding-bottom: 20px;
}

/*푸터 회사소개~사업자정보확인 위치*/
.footer_link {
  float: left;
  display: flex;
  position: relative;
  left: 10px;
}

/*푸터 회사소개~사업자정보확인 링크*/
.footer_link a {
  text-decoration: none;
  color: #808080;
}

.footer_link a:hover {
  color: red;
  cursor: pointer;
}

/*Corp 위치 및 색상*/
.corp {
  float: right;
  color: #808080;
  position: relative;
  right: 20px;
}

/*푸터 컨텐츠 위치*/
.footer_content {
  float: left;
  position: relative;
  top: 20px;
  left: 10px;
  color: #808080;
  margin-bottom: 40px;
}

/*푸터 회사 주소 및 전화번호 위치*/
.compony_info {
  padding-top: 3px;
  padding-bottom: 3px;
}

/*-----------------푸터 끝-----------------*/