/*헤드 타이틀 폰트*/
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*본문 폰트*/
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*전체 적용*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SUIT-Regular';
}

h2 {
  margin: 25px;
}

.findform, .answer1, .answer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  float: right;
  margin-left: 10px;
}

.enter {
  margin-bottom: 15px;
}

.find, .ok {
  background-color: #7DB249;
  color: white;
  border: none;
  width: 90px;
  height: 25px;
  display: flex;
  margin: 0 auto;
}

.find:hover, .ok:hover {
  cursor: pointer;
}

.ok {
  margin-top: 15px;
}

.answer1 {
  margin-top: 15px;
  color: red;
}

.answer2 {
  margin-top: 15px;
  color: blue;
}

